.home{
    height: 700px;
    background-image: url("./images/delani2.jpg");
    background-size: 100%;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top:  210px; 
}
.h1{
    padding-top: 70px;
}
.mouse{
    padding-top: 110px;
}
h1{
    font-size: 35px;
}
h4{
    font-size: 14px;
}
.about-services{
    text-align: center;
    height: 700px;

}
.about{
    padding-top: 30px;
    padding-bottom: 50px;
    line-height: 1.5;
    font-size: 14px;
}
.services{
    background-image: url("./images/delani3.jpg");
    background-size: cover;
    height: 400px;
    padding-top: 100px;
    color: white;
    font-size: 14px;
}
h2{
    font-size: 25px;
    font-weight: bold;
}
#row{
    text-align: center;
    height: 300px;
    padding-top: 50px;
}
h3{
    font-size: 25px;
    font-weight: bold;
}
.p{
    font-size: 16px;
}
#row1{
    text-align: center;
}
#back{
    /* background-image: url("./images/delani13.jpg ");
    background-size: cover;
    background-size: 210px;
    height: 210px; */
    /* width: 210px;
    padding-right: 50px;   */
    color: white;
    font-size: 25px;
    display: block;
    font-weight: bold;
    
   
}
.form{
    text-align: center; 
    justify-content: center;
    padding-top: 50px;
    background-image: url("");
}
 #form{
    text-align: center;
    justify-content: center;
}
#form2{
    display: flex;
    justify-content: center;
    height: 500px;
    

}  
.cont{
    color: white;
}
