.home{
    height: 700px;
    background-image: url("./images/delani2.jpg");
    background-size: 100%;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top:  210px; 
}
.h1{
    padding-top: 70px;
}
.mouse{
    padding-top: 110px;
}
h1{
    font-size: 35px;
}
h4{
    font-size: 14px;
}
.about-services{
    text-align: center;
    height: 700px;

}
.about{
    padding-top: 30px;
    padding-bottom: 50px;
    line-height: 1.5;
    font-size: 14px;
}
.services{
    background-image: url("./images/delani3.jpg");
    background-size: cover;
    height: 400px;
    padding-top: 100px;
    color: white;
    font-size: 14px;
}
h2{
    font-size: 25px;
    font-weight: bold;
}
#row{
    text-align: center;
    height: 400px;
    padding-top: 50px;
}
h3{
    font-size: 25px;
    font-weight: bold;
}
.p{
    font-size: 16px;
}
#row1{
    text-align: center;
    padding-bottom: 50px;
}
#back{
    /* background-image: url("./images/delani13.jpg ");
    background-size: cover;
    background-size: 210px;
    height: 210px; */
    /* width: 210px;
    padding-right: 50px;   */
    color: white;
    font-size: 25px;
    display: block;
    font-weight: bold;
    
   
}
.contact{
    text-align: center; 
    justify-content: center;
    padding-top: 50px;
    background-image: url("./images/Delani1.jpg");
    background-size: cover;
    height: 500px;
}
#message{
    
    padding-bottom: 150px;
    padding-right: 100px;
    width: 680px;
    color: white;
}
#name,#email{
    width: 380px;
    color: white;
}

h2{
    color: white;
}
#del{
    font-size: 12px;
}


.para{
    position: absolute;
    width: 80%;
    height: 80%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    top: 10%;
    left: 10%;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: -2vw;
}
.lio{
    color: white;
    font-weight: bolder;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border: 0.1vw solid whitesmoke;
    font-size:2vw;
    text-align: center;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.5vw;
    margin-top: 1.5vw;
}
